<div layout-gt-md="row">
  <panel-widget flex title="IACS Traffic" template="app/views/partials/traffic.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Alarms" template="app/views/partials/alarms.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Mode" template="app/views/partials/mode.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Recent messages" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>
